* {
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #f75b00;
  padding-left: 10px;
}

th {
  background-color: #ffcc80;
  font-size: 50px;
}
